---
import AvatarComponent from '@/components/ui/avatar'
import { Badge } from '@/components/ui/badge'
import { Separator } from '@/components/ui/separator'
import { parseAuthors } from '@/lib/data-utils'
import { formatDate, readingTime } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import Link from './Link.astro'

interface Props {
  entry: CollectionEntry<'blog'>
}

const { entry } = Astro.props
const formattedDate = formatDate(entry.data.date)
// We no longer need these lines
// const readTime = readingTime(entry.body!)
// const authors = await parseAuthors(entry.data.authors ?? [])
---

<div
  class="hover:bg-secondary/50 rounded-xl border p-5 transition-colors duration-300 ease-in-out"
>
  <Link
    href={`/${entry.collection}/${entry.id}`}
    class="flex flex-col gap-5 sm:flex-row"
  >
    {
      entry.data.image && (
        <div class="w-full sm:max-w-3xs sm:shrink-0">
          <Image
            src={entry.data.image}
            alt={entry.data.title}
            width={1200}
            height={630}
            class="w-full h-auto object-cover rounded-md"
          />
        </div>
      )
    }

    <div class="grow flex flex-col justify-between">
      <div>
        <h3 class="mb-2 text-2xl font-normal tracking-tight">{entry.data.title}</h3>
        <p class="text-foreground/70 mb-1 text-sm">{entry.data.description}</p>
      </div>

      <div>
        <p class="text-muted-foreground text-sm mt-auto">{formattedDate}</p>
      </div>
    </div>
  </Link>
</div>
